<html>
<body>
   <h1> Leaky-LAN Web Portal </h1>
   <form enctype = "multipart/form-data" action = "http://{{server_ip_address}}:9000" method = "POST">
   <p>Enter File: <input type = "file"name ="filename" /></p>
   <p>Confirm Upload: <input type = "submit" value = "Submit" /></p>
   <br>
   <p> Developed by M.Anish [aneesh25861@gmail.com] </p>
</form>
</body>
</html>